
@import "../../../assets/theme/_colors.scss";

.usuario-header {
  margin-top: 36px;
  margin-bottom: 20px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $gray-600;

  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    h1 {
      font-size: 20px;
    }
  }

  .button {
    width: 200px;
  }
}

