@import "../../../../../assets//theme/colors";

.table-card {
    margin-bottom: 50px;
    background-color: #FFF;
    margin: 12px 24px;
    padding: 20px;
    padding-bottom: 0;

    .search {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    table {
        margin-top: 20px;
        width: 100%;
        border-collapse: collapse;

        th, td {
            text-align: start;
        }
        
        thead {
            border-top: 1px solid $gray-200;
            
            th {
                color: $gray-400;
                text-align: start;
                font-size: 14px;
                padding: 16px 20px;
            }
        }
        
        tbody {
            border-bottom: 1px solid $gray-200;

            td {
                padding: 12px 20px;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 600;
                color: $gray-900;
            
            }

            tr {
                &:nth-child(odd) {
                    background-color: $gray-100;
                }

                &:hover {
                    background-color: $gray-200;
                }
            }

            .delete-icon {
                color: $red-500;
                cursor: pointer;
            }
        }
    }

    .paginator {
        padding: 20px 0 !important;
    }
}